<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.aleph.android.example25">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/activity_main_name"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/activity_settings_name"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ispit.activity.IspitListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:icon="@mipmap/ic_launcher"
            android:label="Actors">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ispit.activity.IspitDetailActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="Actor Detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ispit.preferences.IspitPrefererences"
            android:label="@string/activity_settings_name"
            android:parentActivityName=".ispit.activity.IspitListActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>